{# Modal Delete #}
    <div class="modal fade"  id="delete{{consultation.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">suppression</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
             {# Sure to delete {{[ patient.LastName, ' ', patient.FirstName ] | join }} !! #}
             Sure to delete
         </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <a href="deleteConsultation/{{consultation.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> delete</a>
        </div>
        
      </div>
    </div>
  </div>

