{% extends 'base.html.twig' %}

{% block title %}New Speciality{% endblock %}

{% block body %}
    <h1>Create new Speciality</h1>

    {{ include('speciality/_form.html.twig') }}

    <a href="{{ path('app_speciality_index') }}">back to list</a>
{% endblock %}
